<nav class="navbar navbar-expand-lg  sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Laudry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/neworder">Create Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/savepannel">Save Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/confirmorderlist">Confirm order list</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            move the orders
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/washing">Washing</a></li>
            <li><a class="dropdown-item" href="/ironing">Ironingn</a></li>
            <li><a class="dropdown-item" href="/packing">Packing</a></li>
            <li><a class="dropdown-item" href="/delivery">Delivery</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>

   <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            printing Pages
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/customerrecord">Customer Record</a></li>
            <li><a class="dropdown-item" href="/bill">Invoice</a></li>
            <li><a class="dropdown-item" href="/deliveryrecord">Delivery Record</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deliveryhistory">Delivery History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customerhistory">Customer History</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/home">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>