<app-header></app-header>
<div class="container">
<div class="row mt-5">
    <div class="col-lg-4">
        <div class="move-box py-2 px-2">
            <h4 class="text-center">move order</h4>
     <div class="row">
        <div class="col">
         <div><span class="fw-bold">B/NO:</span><span >b203</span></div>

        </div>
        <div class="col text-end">
          <div><span class="fw-bold">Kuri:</span><span >b203</span></div>
        </div>

      </div>
      <div class="row">
        
      </div>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

        </div>
       
    </div>
</div>


