<section class="py-5">
    <div class="container">
           <div class="d-flex justify-content-center">
      <h1 class="text-center">
       Settings Page
      </h1>
      <span class="d-flex align-items-center mx-3"><img src="assets\images\settings-img.png" alt="setimg" width="45" height="45"
          class="img-fluid ">
      </span>
    </div>
        <div class="row py-5">
            <div class="col-4">
                <div class="settings-box px-3 py-4 text-center" routerLink="/createexpence">
                    <p class="routes-btn">Create Expence</p>
                </div>
            </div>
             <div class="col-4">
                 <div class="settings-box px-3 py-4 text-center" routerLink="/dailyexpence">
                    <p class="routes-btn">Daily Expence</p>
                </div>
            </div>
             <div class="col-4">
               
                <div class="settings-box px-3 py-4 text-center" routerLink="/monthlyexpence">
                    <p class="routes-btn">Monthly Expence</p>
                </div>
            </div>
        </div>
         <div class="row ">
            <div class="col-4">
                <div class="settings-box px-3 py-4 text-center" routerLink="/createitem">
                    <p class="routes-btn">Items Amount Change</p>
                </div>
            </div>
             <div class="col-4">
                 <div class="settings-box px-3 py-4 text-center">
                    <p class="routes-btn">xx</p>
                </div>
            </div>
             <div class="col-4">
               
                <div class="settings-box px-3 py-4 text-center">
                    <p class="routes-btn">xx</p>
                </div>
            </div>
        </div>
    </div>
</section>